<app-cabecero
  [presupuestoTotal]="getPresupuestoTotal()"
  [ingresoTotal]="getIngresoTotal()"
  [egresoTotal]="getEgresoTotal()"
  [porcentajeTotal]="getPorcentajeTotal()"
></app-cabecero>

<app-formulario></app-formulario>

<div class="contenedor limpiarEstilos">
  <div class="ingreso">
    <h2 class="ingreso_titulo">Ingresos</h2>
    <app-ingreso *ngFor="let ingreso of ingresos" [ingreso]="ingreso"></app-ingreso>
  </div>

  <div class="egreso">
    <h2 class="egreso_titulo">Egresos</h2>
    <app-egreso *ngFor="let egreso of egresos" [egreso]="egreso" [ingresoTotal]="getIngresoTotal()"></app-egreso>
  </div>
</div>
